<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>dantaeyoung.com : slowsite</title>
		<link href="css/style.css" media="all" rel="stylesheet" />
    <script src="./js/bundle.js"></script>
	</head>

  <body>
    <div id="wrapper">
      <div id="pageimg"></div>
      <div id="editor">
        <textarea :value="input" @input="update"></textarea>
        <div v-html="compiledMarkdown"></div>
      </div>
    </div>

    <div id="allpaths">
			<svg  id="svg">

        <g id="cursorclicks">
          <g v-for="item in cursorclicks">
            <!--<g class="cursorclick" :style="'left: ' + item.pos.x + 'px; top: ' +  item.pos.y + 'px'">O</g>-->
            <image class="cursorclick" :transform="'translate(' + (item.pos.x - 15) + ' ' +  (item.pos.y - 15) + ')'" xlink:href="assets/mouse_click_1.svg" />
          </g>
        </g>

        <g id="historypaths">
          <g v-for="item in paths">
            <path class="historypath" :id="'path_' + item._id"  :d="svgPath(item.path)" />
            <image class="pathpointer" :id="'pathpointer_' + item._id" xlink:href="assets/mouse_pointer_1.svg" />
          </g>
        </g>

        <g id="thispath">
            <path fill="none" stroke="#444" stroke-width="5" stroke-linejoin="round" :d="svgPath(thisPath)" />
        </g>

			</svg>
    </div>

	</body>
</html>
